<div class="row">
    <div class="col s12 btn_margin">
        <a href="/news_new"><button class="btn waves-effect waves-light right btn_new_product">создать новую</button></a>
    </div>
    <div class="col s12 divider"></div>
    <div class="col s12">
        <ul class="collection">
            {{#each news}}
            <li class="collection-item avatar valign-wrapper">
                <img class="circle" src="/news/{{ image }}" alt="foto">
                <span class="title">{{ title }}</span>
                <div class="secondary-content">
                    <a data-id={{_id}} class="edit btn-floating btn-small waves-effect waves-light green"><i class="material-icons">edit</i></a>
                    <a data-id={{_id}} class="delete btn-floating btn-small waves-effect waves-light red margin-left"><i class="material-icons">delete</i></a>
                </div>
            </li>
            {{else}}
            <li class="collection-item">
                <h4>В данный момент, никаких акций - нет.</h4>
            </li>
            {{/each}}
        </ul>
    </div>
</div>


<style>
    .btn_margin {
        margin: 15px;
    }
</style>


<script>
    $(".edit").on("click", (e) => {
        document.location.href = "/news/" + e.currentTarget.dataset.id;
    });

    $(".delete").on("click", (e) => {
        let answ = confirm("Точно удалить?");
        if (!answ) return; // stop function if false

        $.ajax({
            url: "/api/news/" + e.currentTarget.dataset.id,
            type: "DELETE",
            success: () => {
                document.location.reload();
            },
            error: (err) => {
                if (err.status == 401) {
                    Materialize.toast('Вы не авторизированы.', 1000);
                    setTimeout(() => {
                        document.location.href = "/";
                    }, 800);
                } else {
                    Materialize.toast('Упс, ошибка! Подробности в консоле.', 4000);
                    console.log(err);
                };
            }
        });
    });

</script>